@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", "Poppins", "Faculty Glyphic", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* عشان اخلي الاطار والهوامش وكل حاجة من ضمن الحجم اللي احطه. */
    scroll-behavior: smooth;
}

header {
    background-color: #AB886D;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-sizing: border-box;
}

.logo {
    text-decoration: none;
    color: #FFF2E1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: #FFF2E1;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

a:hover {
    color: #EAD8C0;
}

section {
    margin: 0;
    padding: 150px 100px 70px;
    box-sizing: border-box;
    border-top: 2px;
    border-bottom: 2px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #AB886D;
}

.main {
    width: 100%;
    min-width: 100vh;
    display: flex;
    align-items: center;
    background: url(Images/background-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
}

.main h2 {
    color: #AB886D;
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.main p {
    color: #AB886D;
    font-size: 25px;
    font-weight: 1000;
    margin: 0 auto 15px 30px;
    padding: 0;
}

.main h3 {
    width: auto;
    color: #AB886D;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.main-btn {
    background-color: #AB886D;
    color: #FFF2E1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
    transition: 1s ease;
}

.main-btn:hover {
    color: #EAD8C0;
    transform: scale(1.1);
}

.social-icons {
    display: flex;
    align-self: center;
    justify-self: center;
}

.social-icons a {
    color: #AB886D;
    font-size: 30px;
    padding-right: 15px;
    text-decoration: none;
    transition: 1s ease;
}

.social-icons a:hover {
    color: #A79277;
    transform: scale(1.1);
}

.cards {
    padding: 30px;
    box-sizing: border-box;
    background-color: #FFF2E1;
}

.title {
    display: flex;
    justify-content: center;
    color: #AB886D;
    font-size: 3.75em;
    font-weight: 1000;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #EAD8C0;
    width: 21.25em;
    box-shadow: 2px 2px 2px #AB886D;
    border-radius: 5px;
    padding: 25px;
    margin: 15px;
    transition: 1s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #AB886D;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #AB886D;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}